img{
	width: 250px;
	height:70px;
}

.cp_hr01 {
	border-width: 1px
	border-style: solid;
	border-color: #DCDCDC;
    <hr width="50">
}

nav{
	font-size: 40px;
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #AFEEEE
}

.cp_hr01 {
	border-width: 1px
	border-style: solid;
	border-color: #DCDCDC;
    <hr width="50">
}

p{
	font-size: 40px;
	margin-top: 200px;
	margin-left: 280px;
}

a{
	font-size: 30px;
	margin-top: 30px;
	margin-left: 280px;
}

